/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6d5374;
  }
  
  h1, h2 {
    color: #333;
  }
  
  p {
    color: #666;
    line-height: 1.5;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  /* Header Styles */
  header {
    background-color: #c7b664;
    padding: 20px;
    text-align: center;
    color: #80a2a2;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
  }
  
  section {
    background-color: #99d4c1;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  section h2 {
    margin-bottom: 10px;
  }
  
  section ul li {
    margin-bottom: 10px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #6eb3ab;
    padding: 20px;
    text-align: center;
    color: #a09595;
  }
  