/* General Styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header Styling */
  
  .header {
    background-color: black;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav-items a {
    margin-right: 100px;
}
.nav-items a {
  color: #dcd7d7;
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px
}
.logo img {
  width: 100px; /* Adjust the width to your desired size */
  height: auto; /* Maintain the aspect ratio */
  background-color: black;
}
  .header input[type="text"] {
    padding: 18px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  
  /* Main Content Styling */
  
  .intro {
    text-align: center;
    margin-top: 40px;
  }
  
  .intro h1 {
    font-size: 36px;
    color: #333;
  }
  
  .intro p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color :black;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #f41c0d;
  }
  /*buttons*/
  .buttons{
    padding: 10px 20px;
    background-color :black;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buttons:hover {
    background-color: #f41c0d;
  }
  /*new button*/
  .container {
    text-align: center;
  }


  .achievements {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .work {
    flex-basis: 33.33%;
    background-color: white;
    padding: 60px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .work i {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
  }
  
  .work-heading {
    font-size: 20px;
    color:black;
    margin-bottom: 10px;
  }
  
  .work-text {
    font-size: 16px;
    color: black;
  }
  
  .work a {
    display: block;
  }
  
  .work img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
  }



  #second-content {
    background-color: white;
    padding: 40px 0;
  }

  .achievements1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .work1 {
    flex-basis: 33.33%;
    background-color: white;
    padding: 60px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .work i {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
  }
  
  .work-heading {
    font-size: 20px;
    color: rgb(244, 8, 43);
    margin-bottom: 10px;
  }
  
  .work-text {
    font-size: 16px;
    color: black;
  }
  
  .work a {
    display: block;
  }
  
  .work img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  
  /* Featured Content Styling background-color: rgb(92, 203, 202);*/
  
  #primary-content {
    background-color: rgb(57, 135, 161);
    padding: 40px 0;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .read {
   background-image: url(image1.jpg);
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }


  .read1 {
    background-image: url(image2.jpg);
     margin: 20px;
     padding: 20px;
     max-width: 400px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     position: relative;
   }

   .read2 {
    background-image: url(image3.jpg);
     margin: 20px;
     padding: 20px;
     max-width: 400px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     position: relative;
   }

   .read3 {
    background-image: url(image1.jpg);
     margin: 20px;
     padding: 20px;
     max-width: 400px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     position: relative;
   }





  article h3 {
    font-size: 24px;
    color: #333;
  }
  
  article p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  article img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  
  /* About Me Styling */
  
  .about-me {
    background-color: #a3e0c7;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .about-me-text {
    margin-right: 20px;
  }
  
  .about-me-text h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-me-text p {
    font-size: 16px;
    color: #666;
  }
  
  .about-me img {
    width: 200px;
    border-radius: 50%;
  }
  .span {
    background-color: #8a9a52;
    color: #0f0f0f;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }
  /* Footer styles */
  body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }





  



  
  
  
  /* Search Bar Styling */
  .search-bar {
    padding: 10px;
    display: flex;
    width: 500px;
    justify-content: right;
    margin-top: 10px;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    width: 500px; /* Updated width value */
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  /* styles.css */

.banner {
  background-color: #f2f2f2;
  background-image: url(image4.jpg);
  background-size: cover; /* Optional: Adjust the background size */
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
}

.banner h1 {
  font-size: 32px;
  color: white;
  margin-bottom: 10px;
}

.banner h5 {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.banner button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.banner button:hover {
  background-color: #666;
}
.containers {
  background-color: white; /* Replace with your desired color */
  /* You can also adjust other container properties like padding, margin, etc. */
}



