.body {
  font-family: sans-serif !important;
  line-height: 1.5 !important;
  min-height: 90vh !important;
  display: flex !important;
  padding: auto !important;
  position: sticky !important;
  background: #0f0c29 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  padding-top: 150px !important;
}

.card text-center {
  padding-right: 20px;
}

.container2 {
  padding: 30px !important;
  background-color: #eeeded;
}

.bd {
  padding-left: 50px !important;
}

.col {
  padding: 50px;
}

.container1 {
  background-color: rgb(61, 187, 149) !important;
}

.container5 {
  float: right;
}

#search-form {
  width: 90%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 1px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

#search-form input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 10px;
  font-size: 20px;
  color: #cac7ff;

}

::placeholder {
  color: white;
}

#search-form button img {
  width: 36px;

}

#search-form button {
  border: 0;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}

.card5 {
  padding: 60px !important;
  background-color: black;
}

.card1 {
  padding: 30px !important;
  background: #1f4037;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #99f2c8, #1f4037);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
  border-radius: 50px !important;
  box-shadow: 0 0 50px rgb(170, 170, 170) !important;
}

.col-md-7 {
  padding: 50px !important;
}

.container3 {
  padding: 20px !important;
  background-color: rgb(237, 228, 255);
}

.navbar {
  padding-right: 50px;
  background: #0f0c29 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-item {
  background: #606c88;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f4c6b, #606c88);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.nav-item:hover {
  transform: scale(1.1, 1.1) !important;
}

.nav-link {
  border-radius: 10px;
}

.container4 {
  border-radius: 5px;
  padding-top: 50px !important;
  background: #667db6 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
}

.container5 {
  padding-top: 150px !important;
  background: #667db6 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root {
  --bs-body-font-family: "roboto", sans-serif;
}

footer.w3-container {
  background: #0f0c29 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}

img {
  border-radius: 20px !important;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding-top: 20px;
}

li {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  transform: scale(1.1, 1.1) !important;
  color: #a36eb1 !important;
}

.btn1 {
  display: block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  border-radius: 5px 18px;
  background-color: #0cf;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.btn1 span {
  position: relative;
  z-index: 2;
}

.btn1:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 5px 18px;
  background: #ff003b;
  transition: all .35s;
}

.btn1:hover {
  color: white !important;
}

.btn1:hover:after {
  width: 100%;
}

.article {
  background: #E8CBC0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636FA4, #E8CBC0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.w3-twothird {
  background-color: white !important;
}


/* Add a hover effect if you want */
.fa:hover {
  transform: scale(1.1, 1.1);
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #007bb5;
  color: white;
}

.fa-instagram {
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #125688;
  color: white;
}

.article1 {
  background: #E8CBC0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636FA4, #E8CBC0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative !important;
  display: flex;
  flex-direction: column;
  padding-left: 250px !important;
}

.article1 ul {
  display: flex;
  flex-direction: column;
}

.article1 ul li a {
  color: blue !important;
  font-weight: 500 !important;
  font-size: 20px !important;
}

.article1 ul li a:hover {
  color: #665519 !important;
}

.container9 {
  display: flex;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(10, 40px);
  text-align: center;
  width: 18%;
  padding: 0px;
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.para a {
  color: blue !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}

.para a:hover {
  color: red !important;
}

@media screen and (max-width: 768px) {
  .container9 {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}

.carousel {
  padding: 10px !important;
}

.carousel-indicators {
  height: 103px !important;
}

.carousel-caption {
  color: white !important;
}

.banner ul {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding-left: 350px;
  display: flex;
}

@media screen and (max-width: 750px) {
  .banner ul {
    padding-left: 0;
    /* Remove the left padding */
    flex-direction: row;
    /* Stack list items vertically */
    align-items: center;
    /* Center align items horizontally */
  }

  .banner ul li {
    font-size: 2rem;
    /* Adjust font size for smaller screens */
    letter-spacing: 10px;
    /* Adjust letter spacing for smaller screens */
  }

  ul li:nth-child(1) {
    animation-delay: .2s;
    font-size: small !important;

  }

  ul li:nth-child(2) {
    animation-delay: .4s;
    font-size: small !important;
  }

  ul li:nth-child(3) {
    animation-delay: .6s;
    font-size: small !important;
  }

  ul li:nth-child(4) {
    animation-delay: .8s;
    font-size: small !important;
  }

  ul li:nth-child(5) {
    animation-delay: .10s;
    font-size: small !important;
  }

  ul li:nth-child(6) {
    animation-delay: 1s;
    font-size: small !important;
  }

  ul li:nth-child(7) {
    animation-delay: 1.2s;
    font-size: small !important;
  }

  ul li:nth-child(8) {
    animation-delay: 1.4s;
    font-size: small !important;
  }

  ul li:nth-child(9) {
    animation-delay: 1.6s;
    font-size: small !important;
  }

  ul li:nth-child(10) {
    animation-delay: 1.8s;
    font-size: small !important;
  }

  ul li:nth-child(11) {
    animation-delay: 2s;
    font-size: small !important;
  }

  ul li:nth-child(12) {
    animation-delay: 2.2s;
    font-size: small !important;
  }
}

.banner ul li {
  list-style: none;
  font-family: arial !important;
  font-size: 3rem;
  letter-spacing: 15px;
  text-shadow: none;
  animation: animate 1s infinite linear;
}

@keyframes animate {
  0% {
    color: #484848;
    text-shadow: none;
  }

  18% {
    color: #484848;
    text-shadow: none;
  }

  20% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
  }

  30% {
    color: #484848;
    text-shadow: none;
  }

  35% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
  }

  70% {
    color: #484848;
    text-shadow: none;
  }

  85% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
  }

  90% {
    color: #484848;
    text-shadow: none;
  }

  100% {
    color: #fff900;
    text-shadow: none;
  }


}

ul li:nth-child(1) {
  animation-delay: .2s;

}

ul li:nth-child(2) {
  animation-delay: .4s;
}

ul li:nth-child(3) {
  animation-delay: .6s;
}

ul li:nth-child(4) {
  animation-delay: .8s;
}

ul li:nth-child(5) {
  animation-delay: .10s;
}

ul li:nth-child(6) {
  animation-delay: 1s;
}

ul li:nth-child(7) {
  animation-delay: 1.2s;
}

ul li:nth-child(8) {
  animation-delay: 1.4s;
}

ul li:nth-child(9) {
  animation-delay: 1.6s;
}

ul li:nth-child(10) {
  animation-delay: 1.8s;
}

ul li:nth-child(11) {
  animation-delay: 2s;
}

ul li:nth-child(12) {
  animation-delay: 2.2s;
}