.body {
  font-family: sans-serif !important;
  line-height: 1.5 !important;
  min-height: 90vh !important;
  display: flex !important;
  padding: auto !important;
  position: sticky !important;
}

.container {
  padding-top: 150px !important;
}

.card text-center {
  padding-right: 20px;
}

.container2 {
  padding: 30px !important;
  background-color: #eeeded;
}

.bd {
  padding-left: 50px !important;
}

.col {
  padding: 50px;
}

.container1 {
  background-color: rgb(61, 187, 149) !important;
}

.card1 {
  padding: 30px !important;
  background-color: rgb(228, 216, 220) !important;
}

.card {
  border-radius: 50px !important;
  box-shadow: 0 0 5px rgb(170, 170, 170) !important;
}

.col-md-7 {
  padding: 50px !important;
}

.container3 {
  padding: 20px !important;
  background-color: rgb(237, 228, 255);
}

.navbar {
  background-color: rgb(147, 181, 198) !important;
}

.nav-item {
  background-color: rgb(201, 204, 213) !important;
}

.nav-link {
  border-radius: 10px;
}

.container4 {
  padding-top: 50px !important;
  background-color: rgb(201, 204, 213) !important;
}

.container5 {
  padding-top: 150px !important;
  background-color: rgb(201, 204, 213) !important;
}

:root {
  --bs-body-font-family: "roboto", sans-serif;
}

.w3-container {
  background-color: rgb(147, 181, 198) !important;
  color: black !important;
}

img {
  border-radius: 20px !important;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding-top: 20px;
}

li {
  text-decoration: none;
}

a {
  color: black !important;
  text-decoration: none;
}

a:hover {
  color: #EA1179 !important;
}

.btn1 {
  background-color: #d4adfc !important;
  padding: 12px !important;
  margin-bottom: 35px !important;
  font-weight: 500 !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}

.article {
  background-color: rgb(201, 204, 213) !important;
}

.w3-twothird {
  background-color: white !important;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #007bb5;
  color: white;
}

.fa-instagram {
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #125688;
  color: white;
}
.article1 {
  background-color: rgb(201, 204, 213);
  position: relative !important;
  display: flex;
  flex-direction: column;
  padding-left: 250px !important;
}

.article1 ul {
  display: flex;
  flex-direction: column;
}

.article1 ul li a {
  color: blue !important;
  font-weight: 500 !important;
  font-size: 20px !important;
}

.article1 ul li a:hover {
  color: #EA1179 !important;
}
.container9 {
  display: flex;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(10, 40px);
  text-align: center;
  width: 18%;
  padding: 10px;
  background-color: #f0f0f0;
}

.para a {
  color: blue !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}

.para a:hover {
  color: red !important;
}

@media screen and (max-width: 768px) {
  .container9 {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
