.body {
  font-family: sans-serif !important;
  line-height: 1.5 !important;
  min-height: 90vh !important;
  display: flex !important;
  padding: auto !important;
  position: sticky !important;
  background: #0f0c29 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  padding-top: 150px !important;
}

.card text-center {
  padding-right: 20px;
}

.container2 {
  padding: 30px !important;
  background-color: #eeeded;
}

.bd {
  padding-left: 50px !important;
}

.col {
  padding: 50px;
}

.container1 {
  background-color: rgb(61, 187, 149) !important;
}

.card1 {
  padding: 30px !important;
  background-color: rgb(228, 216, 220) !important;
}

.card {
  border-radius: 50px !important;
  box-shadow: 0 0 50px rgb(170, 170, 170) !important;
}

.card:hover {
  transform: scale(0.9, 0.9) !important;
}

.col-md-7 {
  padding: 50px !important;
}

.container3 {
  padding: 20px !important;
  background-color: rgb(237, 228, 255);
}

.navbar {
  background: #0f0c29 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-item {
  background: #667db6 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-item:hover {
  transform: scale(1.1, 1.1) !important;
}

.nav-link {
  border-radius: 10px;
}

.container4 {
  border-radius: 5px;
  padding-top: 50px !important;
  background: #667db6 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
}

.container5 {
  padding-top: 150px !important;
  background: #667db6 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root {
  --bs-body-font-family: "roboto", sans-serif;
}

footer.w3-container {
  background: #0f0c29 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}

img {
  border-radius: 20px !important;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding-top: 20px;
}

li {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  transform: scale(1.1, 1.1) !important;
  color: #a36eb1 !important;
}

.btn1 {
  background-color: #d4adfc !important;
  padding: 12px !important;
  margin-bottom: 35px !important;
  font-weight: 500 !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
  box-shadow: 0 0 5px rgb(170, 170, 170) !important;
}

.article {
  background: #E8CBC0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636FA4, #E8CBC0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.w3-twothird {
  background-color: white !important;
}


/* Add a hover effect if you want */
.fa:hover {
  transform: scale(1.1, 1.1);
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #007bb5;
  color: white;
}

.fa-instagram {
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #125688;
  color: white;
}

.article1 {
  background: #E8CBC0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636FA4, #E8CBC0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative !important;
  display: flex;
  flex-direction: column;
  padding-left: 250px !important;
}

.article1 ul {
  display: flex;
  flex-direction: column;
}

.article1 ul li a {
  color: blue !important;
  font-weight: 500 !important;
  font-size: 20px !important;
}

.article1 ul li a:hover {
  color: #665519 !important;
}

.container9 {
  display: flex;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(10, 40px);
  text-align: center;
  width: 18%;
  padding: 0px;
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.para a {
  color: blue !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}

.para a:hover {
  color: red !important;
}

@media screen and (max-width: 768px) {
  .container9 {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}

.carousel {
  padding: 10px !important;
}

.carousel-indicators {
  height: 103px !important;
}

.carousel-caption {
  color: white !important;
}
